
backend/python-api/agenticcorporatetrader-firebase-adminsdk-hms3b-b39a833119.json
backend/python-api/config.txt
backend/python-api/firebase_creds_base64.txt
backend/python-api/.env
backend/python-api/aws-push-docker.txt
.DS_Store
*.pyc
.idea/workspace.xml
frontend/.DS_Store
.idea
frontend/android-studio-app/.gradle/8.7/dependencies-accessors/d4b6d22156583c8b7b55c4fd04fbb4c58c762f42/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
