<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.act_app">

    <!-- Add Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!-- Add the theme here -->

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Exported because it has MAIN/LAUNCHER intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".LoginActivity"
            android:exported="false" /> <!-- If this is internal, keep exported as false or remove the attribute -->

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity"
            android:exported="false" />

        <!-- My Assets Activity -->
        <activity android:name=".MyAssetsActivity"
            android:exported="false" />

    </application>

</manifest>
